/*Resetting*/
:root {
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

    --clr-100: rgb(255, 255, 255);
    --clr-150: rgb(212, 214, 212);
    --clr-300: rgb(182, 193, 151);
    --clr-350: rgba(33, 56, 66, 0.6);
    --clr-400: rgb(77, 83, 60);
    --clr-accent: rgb(255, 215, 35);



}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
a.reset:link {
    text-decoration: inherit;
    /*color: inherit;*/
}

a.reset:visited {
    text-decoration: inherit;
    /*color: inherit;*/
}
ul.reset,
ul.reset li,
ul.reset ul li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}



/*Utility classes*/
.fs-500 {
    font-size: 1.5rem;
}
.fs-600 {
    font-size: 2.25rem;
}
.fs-700 {
    font-size: 3.75rem;
    line-height: 1.1;
}

.fw-medium {
    font-weight: 500;
}
.fw-semi-bold {
    font-weight: 600;
}
.fw-bold {
    font-weight: 700;
}

.clr-100 {
    color: var(--clr-100);
}
.clr-300 {
    color: var(--clr-300)
}
.clr-350 {
    color: var(--clr-350);
}
.clr-400 {
    color: var(--clr-400);
}



/*General styles*/
.site-wrapper {
    width: min(1100px, 100% - 2rem);
    margin-inline: auto;
}
.link {
    color: var(--clr-150);
    transition: 0.5s;
    cursor: pointer;
}
.link:hover {
    color: var(--clr-accent)
}
.with-symbol-ahead::before {
    content: "\25B6  ";
}



/*Header*/
header {
    position: relative;
}
.header__container  {
    position: absolute;

    height: 2.6875rem;
    width: 100%;
    padding-block: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container .menu-button {
    height: 2.5rem;
    width: 2.5rem;

    background: url("assets/menu-button.svg");
    background-size: cover;
    border: none;

    cursor: pointer;
}



/*Hero*/
.hero {
    display: flex;
    align-items: center;

    height: min(800px, 100dvh);

    background: url("assets/hero__image.png") bottom;
    background-size: cover;
}
.hero__text {
    max-width: 55%;
}
.hero__text > *:not(:first-child) {
   display: inline-block;
    margin-top: 1.5rem;
}



/*Services*/
.services__title {
    margin-top: 7rem;
    margin-bottom: 3rem;
    max-width: 55%;
}
.services__list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 4.5rem;
    grid-template-rows: 300px;;
}
.service {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.service .link {
    margin-top: auto;
}




.right-cropped {
    position: relative;
    top: 7rem;

    width: 87%;
    background: var(--clr-100);
    box-shadow: 10px 50px 30px hsla(0, 0%, 0%, 0.07);

    padding-block: 4rem;
}

.right-cropped .site-wrapper > :first-child {
    margin-bottom: 3rem;
}


.right-cropped > .site-wrapper {
    margin-inline: unset;
    margin-left: calc((100vw - 1100px) / 2);
}


footer {
    background-image: url('assets/footer__bg.jpg');
    background-size: cover;
    padding-top: 15.375rem;
    padding-bottom: 3rem;
}
footer a {
    color: var(--clr-300);
    text-decoration: none;

    transition: 0.3s;
}
footer a:hover {
    color: white;
}
footer .site-wrapper {
    display: grid;
    grid-column-gap: min(2.5rem, 10%);
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr 2px 2fr;
    grid-template-rows: max-content 2px max-content;
}
.footer__top > *:nth-child(2) {
    color: white;
}
.footer__top:nth-child(1) {
    grid-column: 1 / 2;
}
.footer__top:nth-child(2) {
    grid-column: 2 / 4;
}
.footer__main {
    grid-row: 3 / 4;
}
.footer__main h3, .footer__aside h3, .footer__aside a {
    color: white;
}
.footer_main:nth-child(1) {
    grid-column: 1 / 2;
}
.footer_main:nth-child(2) {
    grid-column: 2 / 3;
}
.footer_main:nth-child(3) {
    grid-column: 3 / 4;
}
.footer__aside {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}


.footer__column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer__column > ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.social-media-links {
    display: flex;
    align-content: center;
    gap: 22px
}
.social-media-links .link {
    display: inline-flex;

    height: 33px;
    width: 33px;

    background: rgb(68, 74, 52);

    border-radius: 50%;

}

.social-media-links .link > img {
    width: 16px;
    height: 16px;
    margin: auto;

    color: transparent;
}